
img.cardimage
{
    width: 260px;
    height: 380px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

div.spoiledcard
{
    width: 280px;
    height: 400px;
    border: 1px solid #9325BC;
    padding: 10px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

div.spoiledcard.selected
{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

div.pre-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-wrap: nowrap;
    align-items: center;
}

button.pick-btn {
    display: table-row
    align-self: flex-start;
}

.countdown {
    align-self: flex-end;
    font-weight: bold;
    font: #DEADBE;
    display: none;
}
