{{define "content"}}
<style>
.spoiledcard {
  float: left;
}
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Victini: MTG Online Multiplayer Draft</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <p class="navbar-text navbar-right">Signed in as user@example.com</p>
      <!--
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      -->
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div style="background-color: #f2f2f2; border-bottom: 3px solid #ddd;" class="row">
  <div class="col-md-10">
    <div style="overflow-y: auto;"><div style="padding-top: 60px;">
      <div class="img-rounded" style="margin-left: 10px; margin-bottom: 20px; padding: 10px; background-color: white; border: 2px solid #eee;">
        <h2 class="text-center">Round 1 / Booster Pack 1 / 1st Time Around</h2>
        <div class="spoiledcards">
            <!-- multiverse ID from http://localhost:8000/draft/1/fake_gallery.json -->
            {{range $idx, $card := .Data}}
            <div class="spoiledcard flex-container" id="a{{$idx}}">
                <div class="flex-item">
                    <div class="pre-hidden flex-container" style="display: none;">
                        <button name="Pick" class="btn btn-danger btn-lg pick-btn">Undo Pick</button>
                        <div class="countdown">
                            <div class="countdown-secs">X</div>
                        </div>
                    </div>
                </div>
                <img class="cardimage" src="http://mtgimage.com/multiverseid/{{.Multiverseid}}.jpg">
            </div>
            {{end}}
        </div>
        <div class="clearfix"></div>
      </div>
    </div></div>
  </div>
  <div class="col-md-2">
    <div style="padding-right: 12px; padding-top: 60px;">
      <div class="img-rounded" style="padding: 10px; background-color: white; border: 2px solid #eee;">
        <h4>Draftees</h4>
        <ul class="list-group">
          <li class="list-group-item">user1@example.com
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
          </li>
          <li class="list-group-item text-success">
            <i class="glyphicon glyphicon-play text-success"></i>
            user2@example.com
          </li>
          <li class="list-group-item">user3@example.com
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
          </li>
          <li class="list-group-item">user4@example.com
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
          </li>
          <li class="list-group-item">user5@example.com
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
          </li>
          <li class="list-group-item">user6@example.com
            <img width="20" height="20" src="/static/deck_icon.jpg"></img>
          </li>
          <li class="list-group-item">user7@example.com
          </li>
        </ul>
        <div class="form-group">
          <fieldset>
            <label>Invite Draftee</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="user@example.com">
              <span class="input-group-btn">
                <button type="button" class="btn btn-success">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
                </button>
              </span>
              </div><!-- /input-group -->
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/gojs/draft.js"></script>
{{end}}
