{{define "content"}}
<form>
  <h1>Login to Victini</h1>
  <fieldset>
    <label>Email</label>
    <input type="text" />
    <label>Password</label>
    <input type="Password" />
  </fieldset>
</form>
{{end}}
