{{define "content"}}
<form>
  <h1>Login to Victini</h1>
  <fieldset>
    <label>Email</label>
    <input id="name" type="text" />
    <label>Password</label>
    <input type="Password" />
    <span id="output"></span>
  </fieldset>
</form>
<script src="/static/gojs/test.js"></script>
{{end}}
